html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* hauteur minimum = taille écran */
}

#main-content {
  flex: 1; /* ça prend tout l’espace restant */
}
